@media only screen and (max-width: 1199.5px) {
	.cards-grid {
		width: 62vw;
		left: 59%;

		.card-wrapper {
			margin: 0 10px 16px;
		}
	}

	.timer-container {
		height: 160px;
		width: 160px;

		.time {
			font-size: 30px;
		}
	}
}

@media only screen and (max-width: 991.5px) {
	.cards-grid {
		left: 63%;
	}
	.float-card {
		top: 15%;
	}
}
@media only screen and (max-width: 767.5px) {
	.cards-grid .card-wrapper {
		height: 80px;
		width: 80px;
	}
}

@media only screen and (max-width: 640px) {
	.float-card-body {
		width: 80vw;
	}

	.float-card {
		.card-title {
			font-size: 22px;
		}

		.time-head {
			font-size: 16px;
		}
	}

	.puzzle-image {
		width: 60px;
	}

	.timer-container {
		position: unset;
		margin: 20px auto 20px;
		height: 130px;
    width: 130px;
		.time {
			font-size: 22px;
		}
	}

	.cards-grid {
		width: 82vw;
		left: 50%;
		top: 60%;
	}
}

@media only screen and (max-width: 576px) {
	.float-card-body {
		padding: 0 20px;
		height: 490px;
	}
}

@media only screen and (max-width: 487px) {
	.cards-grid {
		width: 87vw;
		.card-wrapper {
			height: 73px;
			width: 70px;
		}
	}
	.timer-container {
		height: 110px;
		width: 110px;
		.time{
			font-size: 19px;
		}
	}
}

@media only screen and (max-width: 425px) {
	.cards-grid .card-wrapper {
		height: 68px;
		width: 62px;
	}	
}

@media only screen and (max-width: 390px) {
	.cards-grid {
		width: 92vw;
		.card-wrapper {
			margin: 0 6px 16px;
		}
	}
	.timer-container {
		margin: 18px auto 20px;
	}
}

@media only screen and (max-width: 320px) {
	.cards-grid{
		height: 610px;
	}
}