@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Moon+Dance&display=swap");

$bg-white: #f1faee;
$bg-blue: #083656;
$puzzle-card-bg: #f8f8f8;
$bg-yellow: hsl(49deg 98% 60%);

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Kode Mono", monospace;
}

.main-container{
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	justify-content: center;
}

.game-container {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	background-color: #f08080;
	background-image: url('../public/images/background-doodle.png');
	background-size: cover;
	background-repeat: no-repeat;

	img {
		height: 10vmin
	}

	.background-lines {
		position: absolute;
		height: 100%;
		width: 100%
	}
}

.cards-grid {
	overflow: hidden;
	position: relative;
	height: 550px;
	width: 600px;
	// top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	padding: 20px 0;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.51);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-perspective: 1500px;
	perspective: 1500px;
	margin-bottom: 30px;
	margin-top: 150px;

	.card-wrapper {
		height: 90px;
		width: 90px;
		margin: 0 10px;
		position: relative;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transition: -webkit-transform 0.5s;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;

		&.flip {
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
			pointer-events: none;
		}

		&:hover {
			cursor: pointer
		}

		&:hover .puzzle-hide {
			background-color: #e7e7e7
		}

		&:active {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 200ms;
			transition-duration: 200ms
		}

		.puzzle-show {
			position: absolute;
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg)
		}

		.puzzle-hide {
			position: absolute;
			background-color: $puzzle-card-bg
		}
	}
}


.card-wrapper .puzzle-show,
.card-wrapper .puzzle-hide {
	height: 100%;
	width: 100%;
	background-color: $puzzle-card-bg;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.sound-player {
	background-color: rgba(94, 94, 94, 0.288);
}

.float-card {
	// position: absolute;
	width: 100%;
	/* background-color: rgba(94, 94, 94, 0.288); */
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	top: 22%;
	margin-bottom: 30px;

	.card-title {
		color: #343436;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		margin-bottom: 40px
	}

}

.float-card-body {
	// height: 550px;
	width: 600px;
	border-radius: 10px;
	padding: 0 50px;
	background-color: $bg-white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 68vh;
}

.puzzle-image{
	height: 100px;
	width: 100px;
}

.time-head {
	margin-top: 40px;
	font-size: 20px;
	text-align: center;
}

.welcome-screen {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.timer-container {
	position: absolute;
	top: 20%;
	left: 5%;
	height: 200px;
	width: 200px;
	background-color: $bg-blue;
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.time {
		color: #fff;
		font-size: 40px;
		text-align: center
	}
}

button.play-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0 10px;
	color: white;
	text-shadow: 2px 2px rgb(116, 116, 116);
	text-transform: uppercase;
	cursor: pointer;
	border: solid 2px black;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 17px;
	background-color: $bg-yellow;
	border-radius: 50px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	min-height: 63px;
	&:active {
		transform: scale(0.9);
		transition: all 100ms ease;
	}

	svg {
		transition: all 0.5s ease;
		z-index: 2;
	}

	.play {
		transition: all 0.5s ease;
		transition-delay: 300ms;
	}

	&:hover svg {
		transform: scale(3) translate(50%);
	}

	.now {
		position: absolute;
		left: 0;
		transform: translateX(-100%);
		transition: all 0.5s ease;
		z-index: 2;
	}

	&:hover .now {
		transform: translateX(10px);
		transition-delay: 300ms;
	}

	&:hover .play {
		transform: translateX(200%);
		transition-delay: 300ms;
	}
}

.sound-container {
	display: flex;
	justify-content: flex-end;
	margin: 5px 70px;

	/* The switch - the box around the speaker*/
	.toggle-switch {
		width: 50px;
		height: 50px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $bg-blue;
		border-radius: 25%;
		cursor: pointer;
		transition-duration: .3s;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
		overflow: hidden;

		.speaker {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition-duration: .3s;
		}

		.mute-speaker {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition-duration: .3s;
		}
	}
}
.welcome-wrapper > .card-title{
	margin-top: 30px;
}
.sound-container{
	img{
		width: 40px;
  	height: auto;
	}
}
.developed-by{
	margin-top: 40px;
	margin-bottom: 18px;
}

#audioButtonToggle:checked+.toggle-switch .speaker {
	transition-duration: .3s;
}

#audioButtonToggle:checked+.toggle-switch .mute-speaker {
	transition-duration: .3s;
}

#audioButtonToggle:active+.toggle-switch {
	transform: scale(0.7);
}
